.apartment{
    display: flex;
    justify-content: right;
    padding-bottom: 5%;
}

.text-apartment{
    margin-right: 3%;
    text-indent: 2%;
}


.img-apartment{
    padding: 2%;
}

/*Sun world aka hand */
.hand {
    padding-top: 5%;
    display: flex;
    justify-content: right;
}

.text-hand{
    margin-right: 3%;
    text-indent: 2%;
    
}

.img-hand {
    padding: 2%;

}

.desert{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: right; 
}
.text-desert{
    margin-right: 3%;
    text-indent: 2%;
    
}

.img-desert{
    padding: 2%;
}

h1, h2, h3{
    font-family: 'Abril Fatface', sans-serif;
    color: #c4423a;
}

p, li{
    font-family: Georgia, serif;
    font-size: large;

}

/* Nav bar */
nav ul {
    list-style: none;
    padding-left: 0;
    background-color: #8d8530;
    margin: 0;
    display: flex;
    justify-content: right;
    font-family: 'Abril Fatface', sans-serif;
}

/* Nav bar */
nav a {
    padding: 1rem;
    width: min-content;
    display: block;
    text-decoration: none;
    color: #fdfacd;

}

/* Nav bar hover effect */
nav a:hover {
    background-color: #8d8530;
    color: #c4423a;
    text-decoration: underline;
}


.home {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 30px;
    padding-top: 10%;
    padding-bottom: 13%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8d8530;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Abril Fatface', sans-serif;
}

footer a{
    color:#c4423a;
}

body{
    background-color: antiquewhite;
}


header{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 5%;
margin: 0;
background-color: #c4423a;

}

header h1 {
    color: #fdfacd;
}

header p {
    font-size: x-large;
}
